@import "../../../styles/styles";

.m-menu {
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    opacity: 80%;
  }

  &__container {
    background-color: $blue-dark;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    border-bottom: solid 1px white;
    padding-bottom: 10px;

    & h4 {
      font-weight: normal;
    }
  }

  &__list-container .m-menu__list-item {
    padding: 20px;
  }

  &__list {
    list-style: none;

    &-item {
      & a {
        color: white;
      }
    }
  }

  &__list-socials {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    border-top: solid 1px white;
    padding-top: 10px;

  }
}

.m-menu__list-socials .m-menu__list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  font-size: 40px;
}

@media (max-width: 377px) {
  .m-menu__list-socials .m-menu__list {
      font-size: 20px;
  }
}
