@import "../../../styles/styles";

.m-menu {
  &__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &__background {
    width: 100%;
    height: 100%;
    background-color: black;
    animation-name: opacity-on;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    &--closed {
      animation-name: opacity-off;
    }
  }

  &__box {
    background-color: $blue-dark;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 0 0 0 20px;
    animation-name: slide-on;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    &--closed {
      animation-name: slide-off;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    border-bottom: solid 1px white;
    padding-bottom: 10px;

    & h4 {
      font-weight: normal;
    }
  }

  &__close {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
  }

  &__list-items .m-menu__list-item {
    padding: 20px;
  }

  &__list {
    list-style: none;

    &-item a {
      color: white;
    }
  }

  &__list-socials {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    border-top: solid 1px white;
    padding-top: 10px;

    & .m-menu__list {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 10px;
      font-size: 40px;
    }
  }
}

@media (max-width: 401px) {
  .m-menu__list-socials .m-menu__list {
      font-size: 20px;
  }
}

@keyframes opacity-on {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 80%;
  }
}

@keyframes slide-on {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes opacity-off {
  0% {
    opacity: 80%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes slide-off {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
