<header class="m-header">
  <a href="/">
    <img
      class="m-header__logo"
      src="assets/images/Logo-Pineda.svg"
      alt="logo Pineda - Marca"
    >
  </a>
  <section class="m-header__list-section">
    <ul class="m-header__list">
      <li class="m-header__list-item"> <a href="#projects">Proyectos</a></li>
    </ul>
    <ul class="m-header__list">
      <li class="m-header__list-item"> <a href="https://www.linkedin.com/in/-david-pineda-/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li class="m-header__list-item"> <a href="https://github.com/pinzu03" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li class="m-header__list-item"> <a href="https://www.instagram.com/_davidpineda__/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </section>
  <section class="m-header__menu">
    <button
      class="m-header__button"
      type="button"
      title="Abrir el menu"
      (click)="toggleMenu()"
    >
      <i class="fa-solid fa-bars fa-xl"></i>
    </button>
  </section>
</header>
