<section class="m-presentation">
  <article class="m-presentation__description">
    <h1>¡Hey! Un gusto, te habla <span class="m-presentation--blue-text">David</span> Pineda 👨🏽‍💻</h1>
    <p>
      Desarrollador <span class="m-presentation--blue-text">Front-End</span> semi-senior con experiencia en la creación de experiencias interactivas y atractivas a través de HTML, SASS y TypeScript, utilizando la metodología <span class="m-presentation--blue-text">BEM</span> para mantener un código limpio y modular. Además, tengo experiencia desarrollando en frameworks como <span class="m-presentation--blue-text">Angular y React.</span><br><br>
      ¡No dudes en contactarme para colaborar en proyectos innovadores y desafiantes!
    </p>
    <app-a-button
      [primary]="true"
      classIcon="fa-solid fa-file-arrow-down fa-xl"
      href="https://drive.google.com/file/d/1M7LxkjIShTpKzuQ5FNk5uhkfOPJDnt0P/view?usp=drive_link"
      class="m-presentation__button"
    >
      Descargar HV
    </app-a-button>
  </article>
  <article class="m-presentation__photo">
    <img src="assets/images/profile-photo-no-background.png" alt="">
  </article>
  <article class="m-presentation__down">
    <i class="fa-solid fa-angles-down"></i>
  </article>
</section>
